body {
/*  padding-top:50px;*/
}
.glyphicon-remove:hover {
  cursor:pointer
}

#navbar {
	margin-bottom: 20px;
}

.passage {
	padding-bottom: 10px;
	margin-left: 10px;
}

.Login {
	margin-top: 20px;
}

.query {
	margin: 0;
	margin-top: 20px;
	margin-left: 10px;
}

.title {
	margin: 10px;
	padding: 10px;
	padding-top: 30px;
	color: #1A8BC8;
}

.show-passage {
	padding: 10px;
	margin-top: 20px;
}

.comment {
	margin-left: 10px;
	padding-left: 10px;
	width: 1083px;
	height: 200px;
}

.create {
	margin-left: 10px;
	padding-left: 10px;
	width: 1083px;
	height: 300px;
}
.comment-num {
	margin-left: 10px;
}

.comments {
	margin: 10px;
	padding: 10px;
}

.author {
	float: right;
}

.md-body1 {
	color: blue;
}

.profile {
	padding: 10px;
	margin-top: 10px;
}

.profilePage {
	margin-left: 20px;
}

.passagesPage {
	padding: 10px;
}

.p10 {
	padding: 10px;
}

.m10 {
	margin: 10px;
}

.p20 {
	padding: 20px;
}

.mt20 {
	margin-top: 20px;
}

.m20 {
	margin: 20px;
}

.main {
	margin-top: 20px;
	overflow: auto;
}

.md-sidenav-left {
	overflow: auto;
}

.scroll {
	overflow: auto;
}

.ml20 {
	margin-left: 20px;
}

.nav {
	margin: 0;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	resize: none;
}

/*.forbidden {
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	height: 200px;
}*/