<md-content class='md-whiteframe-1dp mt20 md-title' layout-padding layout-wrap flex='60'>
	<h1>编辑资料</h1>
	<form ng-submit="submit()" name="edit">
		<md-input-container class="md-block">
			<label>用户名</label>
			<input ng-model="user.username"/>
		</md-input-container class="md-block">
		<md-input-container class="md-block">
			<label>手机</label>
			<input ng-model='user.phone' />
		</md-input-container class="md-block">
		<md-input-container class="md-block">
			<label>QQ</label>
			<input ng-model="user.QQ" />
		</md-input-container class="md-block">
		<md-button type="submit" ng-disabled="edit.$invalid" class="md-primary md-raised md-hue-1">确定修改</button>
	</form>
</md-content>