<md-content layout-padding flex='60' layout-wrap class="md-body-2 md-whiteframe-1dp Login">
	<h3>Login here</h3>
	<form ng-submit="submit()" name='login'>
		<md-input-container class='md-block'>
			<label>Email</label>
			<input type="email" ng-model="email" required/>
		</md-input-container>
		<md-input-container class='md-block'>
			<label>Password</label>
			<input type="password" ng-model="password" required></input>
		</md-input-container>
		<md-button type='submit' class = "md-raised md-primary" ng-disabled="login.$invalid">submit</button>
	</form>
</md-content>